@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    /* colors */
    --mainColor: #002147;
    --seconColor: #FF5101;
    --color: #808080;
    --white: #ffffff;
    --black: #000000;
}

/* Reset */
.html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    /* border: 1px solid red; */
}

.body,
p {
    font-family: "montserrat", sans-serif;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: "Roboto" Verdana, Geneva, Tahoma, sans-serif;
}

li {
    list-style: none;
}

a {
    color: var(--white);
    text-decoration: none;
}

/* ------------------------NAV-HERO------------------------- */


/* ----- */

.container_slider_box {
    height: 82vh;
    background-repeat: no-repeat;
    object-fit: cover;
    background-color: #FF5101;
}

.videoBackground {
    height: 82vh;
    width: 100%;
}

/* ---------------------------------------------MAIN/SERVICES------------------------------------ */
.section_services {
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title_items {
    padding-bottom: 2rem;
    color: var(--mainColor);
    font-size: 1.6rem;
    text-align: center;
}

.references_services {
    display: flex;
    gap: 5rem;
}

.anchore_services img {
    height: 5rem;
}

.text_services {
    font-size: 1.3rem;
    color: var(--mainColor);
}

/* ----------------------------MAIN/LOCATIONS-------------------------------- */
.section_locations {
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contain_locations {
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.locations {
    color: var(--mainColor);
    border: none;
    cursor: pointer;
    padding: 11rem 5rem;
    font-size: 2.5rem;
    width: 20rem;
    background-position: center;
}

.button_img_locations {
    color: var(--white);
    border: none;
    cursor: pointer;
    padding: 11rem 5rem;
    font-size: 2.5rem;
    width: 20rem;
    background-position: center;
    background-size: cover;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(https://cdn.pixabay.com/photo/2016/11/29/11/33/architecture-1869211_1280.jpg);
}

.button_img_locations :nth-child(1)

.title_locations {
    font-size: 2.5rem;
}

.name_locations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 2rem;
}

.name_locations img {
    width: 4rem;
}
/* -------------------------------MAIN/BRANDS-------------------------------------- */

.section_sponsoring_brands {
    height: 30vh;
    padding-top: 3rem;
    margin-bottom: 3rem;
}

.sponsoring_brands {
    display: flex;
    justify-content: space-around;
    height: 100%;
}

/* ---------------------------FOOTER------------------------------ */

.footer {
    height: 25vh;
    background-color: var(--mainColor);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--white);
}

.logo_footer img {
    height: 17rem;
}

.address {
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
}

.title_footer {
    font-size: 1.8rem;
    padding-bottom: 1rem;
}

.locations_and_links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.logo_links {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.logo_links img {
    height: 4.5rem;
}

.copy {
    height: 5vh;
    background-color: var(--color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-size: 1.5rem;
}