/*************************NAV*************************************/
/* Reset */
.html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    /* border: 1px solid red; */
}

.nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #002147;
    width: 100%;
    height: 10vh;
}
.button_nav{
    color: black;
    background-color: white;
    font-family: "Roboto", sans-serif;
    width: 15%;
    height: 40%;
    padding: 30px;
    border: none;
    border-radius: 30px;
    font-size: 1.5rem;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_nav:hover{
    color: white;
    background-color: #ff5101;
    cursor: pointer;
}
/*************************SECTION_CAROUSEL*************************************/
.title_add{
    font-size: 2rem;
    text-align: center;
    display: flex;
    align-items: center;
}

.title_dashboard{
    font-size: 4rem;
    color: #ff5101;
    padding-bottom: 2rem;
}

.carousel{
    width: 100%;
    height: 300px;
    background-color: #002147;
    position: relative;
}

#add_property{
    width: 100%;
    height: 10%;
    color: white;
    border: 0;
    
}
#add_property h2{
    border: 0;
    margin: 0;
    font-size: 3.5rem;  
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel_properties{
    padding-left: 30%;
    position: absolute;
    top: 25%;
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    gap: 20px;
}

#arrow_back{
    width: 10%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#arrow_back img:hover{
    width: 75px;
    height: 75px;
}
.properties{
    width: 90%;
    height: 400px;
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding-left: 10%;
    touch-action: pan-y pinch-zoom;
}

#property{
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 16px;
    border: 1px solid black;
    box-shadow: 10px 10px 3px gray;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

#img_property{
    width: 95%;
    height: 50%;
}
#img_property img{
    width: 100%;
    height: 100%;
    padding-top: 3%;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
#description_property{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#description_property p{
    padding-top: 5px;
    width: 100%;
    height: 100%;
    color: black;
    font-size: 25px;
    margin: 0;
    text-align: center;
}

#button_edit{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#button_edit button{
    width: 40%;
    height: 40%;
    padding: 0;
    margin: 10px;
    border: none;
    border-radius: 10%/40%;
    font-size: 120%;
    color: white;
    background-color: #002147;
}

#button_edit button:hover{
    width: 45%;
    height: 45%;
    background-color: #ff5101;
    cursor: pointer;
}



.embla__controls {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: space-between;
    gap: 1.2rem;
    margin-top: 1.8rem;
}

.embla__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 20vh;
    padding: 0 3rem;
}

.embla__button {
-webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
-webkit-appearance: none;
appearance: none;
background-color: #ff5101;
touch-action: manipulation;
display: inline-flex;
text-decoration: none;
cursor: pointer;
border: 0;
padding: 0;
box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
width: 50px;
height: 50px;
z-index: 1;
border-radius: 50%;
color: var(--text-body);
display: flex;
align-items: center;
justify-content: center;
}
.embla__button:disabled {
color: var(--detail-high-contrast);
}
.embla__button__svg {
width: 30%;
height: 30%;
color: white;
}


/*************************SECTION_DASHBOARD*************************************/

.dashboard{
    margin-top: 10%;
    margin-bottom: 5%;
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#fondo_dashboard{
    width: 98%;
    height: 100%;
    background-color: #002147;
    border-radius: 5%/15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
}
#dashboard h1{
    color: #002147;
    text-align: center;
    font-size: 250%;
    font-family: "Roboto", sans-serif;
    margin: 0;
    margin-top: 5%;
}

.container1{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cont11{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cont11 div{
    color: white;
    background-color: #ff5101;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2%;
    border-radius: 10px;
    font-size: 25px;

}
.cont12{
    width: 100%;
    height: 80%;
}

.container2{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chart1{
    width: 100%;
    height: 100%;
    font-size: 45px;
}

.chart2{
    width: 100%;
    height: 100%;
    font-size: 45px;
}

/*************************BUYER_PROFILE*************************************/

.section_buyer{
    padding-top: 4rem;
    width: 100%;
    height: 60vh;
    background-color: #002147;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title_buyer {
    padding-bottom: 3rem;
    font-size: 4rem;
    color: white;
}

#buyer{
    width: 60%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

#buyer_int{
    width: 50%;
    height: 100%;
    display: flex;
    padding-left: 10%;
    justify-content: start;
    align-items: center;
    color: white;
    font-size: 3rem;
}

#buyer_int2{
    width: 50%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff5101ac;
    border-radius: 40px;
    font-size: 2rem;
    color: white;

}


/**********MODAL EDIT*********/

.modal_edit{
    width: 35%;
    height: 500px;
}

.form{
    width: 95%;
}

.form label{
    font-size: 12px;
}
#address{
    width: 95%;
    border: 1px solid black;
}

#name_location{
    width: 95%;
    border: 1px solid black;
}

.closed_questions{
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
    font-size: 15px;
}

#price{
    width: 95%;
    border: 1px solid black;
}

.number_questions1{
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
}

.number_questions1 input{
    width: 30%;
    height: 30px;
    border: 1px solid black;
}
.number_questions1 div{
    width: 30%;
    height: 30px;
    display: flex;
    border: 1px solid black;
}

#description{
    width: 95%;
    height: 100px;
    border: 1px solid black;
}

#closeedit{
    font-size: 25px;

}