.nav_container {
    background-color: var(--mainColor);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 10vh;
    padding-top: 1rem;
    position: fixed;
}

.logo img {
    height: 10rem;
}

.items_nav ul {
    display: flex;
    gap: 5rem;
    font-size: 1.5rem;
    margin: 0;
}

.items_nav ul :hover {
    color: var(--seconColor);
}

.container_reference {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
}

.img_user img {
    height: 5rem;
    cursor: pointer;
}

.button_contact button {
    font-size: 1.5rem;
    padding: 10% 20%;
    border: none;
    cursor: pointer;
    border-radius: 20rem;
    -webkit-border-radius: 20rem;
    -moz-border-radius: 20rem;
    -ms-border-radius: 20rem;
    -o-border-radius: 20rem;
}

.button_contact :hover {
    background-color: var(--seconColor);
    color: var(--white);
}